# ansible-managed
[Unit]
Description=mtg mtproto proxy server
After=network.target

[Service]
{# set group to "proxy" to activate sslh iptables fix #}
Group=proxy
EnvironmentFile=/etc/default/mtproxy
ExecStart={{ mtproxy_bin_file }} run $MTG_SECRET
Restart=always

[Install]
WantedBy=multi-user.target
