---
- name: become root and setup tor
  import_tasks: root.yml
  become: true
  when: tor_enable |bool
  tags: lin_tor_all

- name: apply postponed handlers
  meta: flush_handlers
  tags: lin_tor_all
...
