# ansible-managed
[Unit]
Description=mtg mtproto proxy server
After=network.target

[Service]
{# set group to "proxy" to activate sslh iptables fix #}
Group=proxy
ExecStart={{ mtproxy_bin_file }} run /etc/mtproxy.toml
Restart=always

[Install]
WantedBy=multi-user.target
